.section1 {
    width: 100vw;
    height: auto;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items:center;
    flex-flow:row nowrap;
    margin-bottom: 100px;
}
.section1 > *{
    margin: 20px;
}
.section1__content{
    width: 40%;
    font-family: 'Fjalla One', sans-serif;
    position: relative;

    
}
.section1__content>*{
    margin: 20px;
}
.section1__content h1{
    font-size:100px;
    color:var(--black);
    position: relative;  

}
.section1__content h1::before{
    content:'';

    position: absolute;
    width: 150px;
    top: 50%;
    left: -160px;
    height: 1px;
    background-color: var(--black);
}

.section1__content.second h1::before{
    content:'';

    position: absolute;
    width: 150px;
    top: 50%;
    left: 300px;
    height: 1px;
    background-color: var(--black);
}

.section1__content p{
    font-size: 20px;
    font-weight: bold;
    color:var(--gray);
    position: relative;
    display: block;
}
.section1__content p::before{
    content: "";
    position: absolute;
    top: 10%;
    left: -40px;
    width: 30px;
    height: 5px;
    background-color: var(--orange);
}
.section1__content.second p::before{
    content: "";
    position: absolute;
    top: 10%;
    left: 100%;
    width: 30px;
    height: 5px;
    background-color: var(--orange);
}

.section1__content a {
    font-size: 30px;
    margin-top: 50px;
    border:2px solid black;
    display: block;
    width: 80%;
    padding: 20px;
    text-align: center;
    transition: .2s;
}
.section1__content a:hover{
    background-color: var(--black);
    color:var(--white);
    box-shadow: 0px 0px 10px var(--black);
    cursor: pointer;
}
.section1__img{
    width: 40%;
    height: auto;
}
.section1__img img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.section1__img::before{
    content:'FURNITURE';

    position:absolute;
    font-family: 'Fjalla One', sans-serif;
    font-size:200px;
    letter-spacing: 20px;
    top: 10%;
    right: -20%;

    color:var(--orange);
    opacity:.2;
    z-index: 999;
}
.section1__img.second::before{
    content:'DECOR';

    position:absolute;
    font-family: 'Fjalla One', sans-serif;
    font-size:200px;
    letter-spacing: 20px;
    top: 10%;
    left: -20%;

    color:var(--orange);
    opacity: 0.2;
    z-index: 999;

}

.section1__content::before{
    content:'01.';

    position:absolute;
    font-family: 'Fjalla One', sans-serif;
    font-size:50px;
    letter-spacing: 10px;
    bottom: -20%;
    left: -10%;

    color:var(--black);
    z-index: 999;
}
.section1__content::after{
    content:'';

    position: absolute;
    left: -5%;
    bottom: -45%;
    width: 3px;
    height: 70px;
    background-color: var(--orange);
}
.section1__content.second::after{
    content:'';

    position: absolute;
    left: 95%;
    bottom: -45%;
    width: 3px;
    height: 70px;
    background-color: var(--orange);
}
.section1__content.second::before{
    content:'02.';

    position:absolute;
    font-family: 'Fjalla One', sans-serif;
    font-size:50px;
    letter-spacing: 10px;
    bottom: -20%;
    left: 90%;
    color:var(--black);
    z-index: 999;
}


.about {
    width: 100%;
    height: auto;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-flow: column nowrap;

    font-family: 'Fjalla One', sans-serif;
    margin-top: 50px;

}
.about > *{
    margin: 20px 0;
}

.about h1 {
    font-size:100px;
    color:var(--black);
    position:relative;
}
.about h1::before{
    content:'';
    position:absolute;
    width: 100px;
    height: 5px;
    background-color: var(--orange);
    left: 45%;
    bottom: -10%;
}
.about p {
    font-size: 16px;
    letter-spacing: 3px;
    font-weight: bold;
    color:var(--gray);
}
.section__blocks{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    width: 90%;
}

.sec__item{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow:column nowrap;
    margin: 100px 0;
}
.sec__bl::before{
    position:absolute;

    content:'';
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    z-index: 3;

    width: 60px;
    height: 60px;
    border-radius: 50%;

    background-color: var(--orange);
    opacity: .5;
}
.sec__bl::after{
    position: absolute;

    content:'';
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 4;
    width: 0px;
    height: 0px;
    border-left: 20px solid var(--white);
    border-top:16px solid transparent;
    border-bottom:16px solid transparent; 
}
.sec__bl{
    width: calc(var(--index)*21);
    height:calc(var(--index)*21);
    padding: 10px;
    border-radius:50%;

    border:2px dotted var(--gray);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.sec__bl img{
    width: calc(var(--index)*20);
    height:calc(var(--index)*20);
}
.sec__item>*{
    margin: 50px 0;
}
.sec__item p {
    font-size: 20px;
    position:relative;
}
.sec__item p::before {
    content:'';

    position:absolute;
    width: 100px;
    height: 1px;

    background-color: var(--orange);
    left: 25%;
    top: -200%;
}

.video{
    width: 100%;
    height: 90%;
    background:  #000 url(./../media/video.webp) no-repeat 100%;
    margin: 20px 0;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-flow: column nowrap;
}
.video::before{
    content:'';

    position:absolute;
    width: 90%;
    height: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border:1px solid var(--orange);
}
.video::after{
    content:'';

    position:absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);

    height: 200px;
    width: 2px;
    background-color: var(--lgray);
}

.video > *{
    margin: 30px;
}
.video a{
    width: 300px;
    height: 50px;
    border:2px solid var(--white);
    display: flex;
    justify-content: center;
    align-items:center;
    color: var(--white);
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    transition:.3s;
    background-color: transparent;
}
.video a:hover{
    background-color: white;
    color: var(--black);
    box-shadow:0 0 10px 2px var(--white);
    cursor:pointer;
}
.video h1 {
    font-size: calc(var(--index)*5);
    font-family: 'Fjalla One', sans-serif;
    width: 60%;
    text-align:left;
    text-transform: uppercase;
    color:var(--orange);
}
.video h1::before{
    content:'';
    position:absolute;

    width: 100px;
    height: 1px;
    background-color: var(--lgray);
    top: 50%;
    transform:translateY(-50%);
    left: -120px;

}
.video p {
    color:var(--gray);
    font-family: 'roboto', sans-serif;
    font-size: calc(var(--index)*2.5);
    width: 60%;
    text-align: left;
}
.video p::before{
    content:'';
    position:absolute;

    width: 100px;
    height: 1px;
    background-color: var(--orange);
    top: 50%;
    transform:translateY(-50%);
    left: -110px;

}


.aboutUs{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 40px;
}

.aboutUs::before{
    content: 'ABOUT';
    position:absolute;
    font-family: 'Fjalla One', sans-serif;
    font-size:300px;
    letter-spacing: 20px;
    top: 10%;
    left: -10%;

    color:var(--orange);
    opacity: 0.2;
    z-index: 999;

}
.aboutUs::after{
    content: 'ABOUT';
    position:absolute;
    font-family: 'Fjalla One', sans-serif;
    font-size:300px;
    letter-spacing: 20px;
    top: 30%;
    left: 90%;

    color:var(--orange);
    opacity: 0.2;
    z-index: 999;

}
.aboutUs img{
    width:calc(var(--index)*50);
    height: auto;
}

.ab__bl-text>*{
    margin: 30px;
}
.ab__bl-text h1{
    font-size: 60px;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 800;
    color:var(--black);

}
.ab__bl-text h1::before{
    content:'';
    position:absolute;
    width: 100px;
    height: 5px;
    background-color: var(--black);
    top: 50%;
    transform:translateY(-50%);
    left: -110px;
}

.ab__bl-text p{
    font-family:'fjalla one', sans-serif;
    color: var(--gray);
    font-size: 30px;
    width: 60%;
}
.ab__bl-text p::before{
    content:'';
    position:absolute;
    width: 70px;
    height: 10px;
    background-color: var(--orange);
    top: 10%;
    left: -80px;
}
.ab__bl-text a{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 300px;
    height: 50px;
    font-family: 'roboto', sans-serif;
    font-size: 30px;
    margin:40px 0;
    cursor: pointer;
}

.ab__bl-text a::before{
    content:'';
    position:absolute;
    transition: .3s all;

    width: 20%;
    height: 4px;
    background-color: var(--orange);
    left: 0%;
    bottom: 0;
}
.ab__bl-text a:hover::before{
    cursor: pointer;
    left: 90%;
}